/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$main-color: #EEE9E9;
$main-color-shade-zero: lighten($main-color, 5%);
$main-color-shade-one: darken($main-color, 75%);
$main-color-shade-two: darken($main-color, 50%);
$main-color-shade-three: darken($main-color, 25%);

@mixin cell-content {
      color:          complement($main-color-shade-two);
      border-bottom:  1px solid #e5eff8;
      //border-left:    1px solid #e5eff8;
      padding:        .3em 1em;
      text-align:     left;
}

@mixin rounded-border($border-color) {
    border-radius:      10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    border: 2px solid $border-color;
}

.pagination {
    background-color: complement($main-color);
    font-size:        10pt;
    color:            red;
    @include rounded-border(complement($main-color-shade-three));
    a{
      color:          complement($main-color-shade-one);
      text-decoration:      none;
      &:active {
        color: red;
      }
    }
  }

nav{
  display:  block;
  margin:   5px 15px 20px;
  position: relative;
  @include rounded-border(complement($main-color-shade-one));
  align:  center;
  color:  complement($main-color-shade-three);
  background-color: complement($main-color-shade-two);
  font-size:  12pt;
  padding: 5px;
  
  a{
    color:  invert($main-color-shade-one);
  }
  
}

h1, h2{
    background-color: $main-color;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: $main-color-shade-one;
    text-shadow: $main-color-shade-two 2px 2px 2px, $main-color-shade-three 3px 3px 3px;; 
    width:auto;
}

field{
  color:        #003300 ;
  font-size:    12pt;
  font-family:  Arial;
  font-style:   bold;
  }


table {
    width:90%;
    border-top:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
  
  thead {
      color:          complement($main-color-shade-one);
      border-bottom:  1px solid #e5eff8;
      border-left:    1px solid #e5eff8;
      padding:        .3em 1em;
      text-align:     center;
      background-color: complement($main-color);
      }
      
  td {
      @include cell-content;
        img{
          border:  0px;
        }
      }
    a{
        @include cell-content;
        border:  0px;
    }
}

  .story_stats{
      font-size:    larger;
      font-style:   italic;
      color:        complement($main-color-shade-two);
      background-color: complement($main-color-shade-zero);
      float:        right;
      width:        25%;
      padding-left: 5px;
      border-left:  2px, black;
      @include rounded-border($main-color);
      
      a{
        color:        complement($main-color-shade-two);
      }
  }
  
  .story{
      font:0.8em/1.2em Arial, Helvetica, Sans-Serif; 
      padding: 2px;
      background-color: $main-color-shade-zero;//#FFFFCC; 
      @include rounded-border($main-color);
      //color: black;      
  }

