$main-color: #EEE9E9;
$main-color-shade-zero: lighten($main-color, 5%);
$main-color-shade-one: darken($main-color, 75%);
$main-color-shade-two: darken($main-color, 50%);
$main-color-shade-three: darken($main-color, 25%);

@mixin cell-content {
      color:          complement($main-color-shade-two);
      border-bottom:  1px solid #e5eff8;
      //border-left:    1px solid #e5eff8;
      padding:        .3em 1em;
      text-align:     left;
}

@mixin rounded-border($border-color) {
    border-radius:      10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    border: 2px solid $border-color;
}

body {
  margin:       0;
  padding:      0;
  font-family:  $verdana;
  font-size:    12px;
}

form {
  margin:       10px;

}

header{
  @include linear-gradient(right, #777, #444);
  color:          white;
  padding:        10px;
  font-family:    $lucida-grande;
  font-style:     strong;
  font-size:      30pt;
  font-weight:    bold;
  @include box-shadow(0 0 6px 3px black);
}

.pagination {
    background-color: complement($main-color);
    font-size:        10pt;
    color:            red;
    @include rounded-border(complement($main-color-shade-three));
    a{
      color:          complement($main-color-shade-one);
      text-decoration:      none;
      &:active {
        color: red;
      }
    }
  }

nav{
  display:  block;
  margin:   3px 0px 20px;
  position: relative;
  //@include rounded-border(complement($main-color-shade-one));
  align:  center;
  color:  complement($main-color-shade-zero);
  //background-color: complement($main-color-shade-two);
  @include linear-gradient(right, complement($main-color-shade-zero), complement($main-color-shade-two));
  font-size:  12pt;
  padding: 5px;
  
  a{
    color:  complement($main-color-shade-zero);
  }
  
}

h1, h2{
    background-color: $main-color;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: $main-color-shade-one;
    text-shadow: $main-color-shade-two 2px 2px 2px, $main-color-shade-three 3px 3px 3px;; 
    width:auto;
}

field{
  color:        #003300 ;
  font-size:    12pt;
  font-family:  Arial;
  font-style:   bold;
  }


table {
    width:90%;
    border-top:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
  
  thead {
      color:          complement($main-color-shade-one);
      border-bottom:  1px solid #e5eff8;
      border-left:    1px solid #e5eff8;
      padding:        .3em 1em;
      text-align:     center;
      background-color: complement($main-color);
      }
      
  td {
      @include cell-content;
        img{
          border:  0px;
        }
      }
    a{
        @include cell-content;
        border:  0px;
    }
}

#{$all-text-inputs}, textarea{
  border: 1px solid green;
}

#{$all-text-inputs-hover}, textarea { // Target the :hover pseudo-class
  background: yellow;
}

#{$all-text-inputs-focus}, textarea { // Target the :focus pseudo-class
  background: white;
}

