  .story_stats{
      font-size:    larger;
      font-style:   italic;
      color:        complement($main-color-shade-two);
      background-color: complement($main-color-shade-zero);
      float:        right;
      width:        25%;
      padding-left: 5px;
      border-left:  2px, black;
      @include rounded-border($main-color);
      
      a{
        color:        complement($main-color-shade-two);
      }
  }
  
  .story{
      font:0.8em/1.2em Arial, Helvetica, Sans-Serif; 
      padding: 2px;
      background-color: $main-color-shade-zero;//#FFFFCC; 
      @include rounded-border($main-color);
      //color: black;      
  }
