<h1>New release</h1>
<table>
  <thead>
    <th>Product</th>
    <th>Release Details</th>
  </thead>
  <tr>
    <td style="background-color: #cbf8f1; align-content: top;"><%= render "products/detail"%></td>
    <td><%= render 'form' %></td>
  </tr>
</table>


<%= link_to 'Back', releases_path %>
